langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-huggingface
langchain-groq
chromadb
sentence-transformers
faiss-cpu
langchain_chroma
duckdb
pandas
streamlit